/ROMS/*
/bin/cli/*
!/bin/cli/.gitkeep
/bin/gui/gdi/*
!/bin/gui/gdi/.gitkeep
/bin/gui/sdl/*
!/bin/gui/sdl/.gitkeep
!/bin/gui/sdl/SDL2.dll
/obj/cli/*
!obj/cli/.gitkeep
/obj/gui/gdi/*
!obj/gui/gdi/.gitkeep
/obj/gui/sdl/*
!obj/gui/sdl/.gitkeep